
@{
    ViewBag.Title = "chr1";
}

<h2>chr1</h2>

<div class="pics">
    Artist 1:
    <a href="/Christmas/chr1artist">
        <div><img class="artistpic" src="http://cdn01.cdn.justjared.com/wp-content/uploads/2011/11/bieber-christmas/justin-bieber-christmas-concert-12.jpg" /></div>
    </a>
</div>
<div class="pics">
    Artist 2:
    <a href="/Christmas/chr1artist">
        <div><img class="artistpic" src="https://merchbar.imgix.net/product/4/1616/27162897/2VBIWQ-1540265793-3601x3601-1540265785-009_Michael%20Buble_Christmas_03.jpg?w=640&h=640" /></div>
    </a>
</div>

