
@{
    ViewBag.Title = "chr1artist";
}

<div id="artistinfo">
    <h2>Justin Bieber</h2>
    <img class="artistpic" src="http://cdn01.cdn.justjared.com/wp-content/uploads/2011/11/bieber-christmas/justin-bieber-christmas-concert-12.jpg" />

    <h4>Album Name: <span id="albumtitle"><a target="_blank" href="https://open.spotify.com/album/3cr4Xgz8nnfp7iYbVqwzzH">Under the Mistletoe</a></span></h4>
    <ol>
        <li><a target="_blank" href="https://open.spotify.com/track/0QLFDSw2PQSHP7r0Slerqh">Only Thing I Ever Get For Christmas</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/54K9GOVJqIaDZNXLnnxiKc">Mistletoe</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/2X3ibsXEeZ6cJdRRKJPoqO">The Christmas Song (Chestnuts Roasting)</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/46CmteSSihy091RRaj7kmb">Santa Claus Is Coming To Town</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/5kq3YD407av1s3ZHMaZIGv">Fa La La</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/4EUKThOTPBkrAH0gggkMn4">All I Want For Christmas Is You</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/27hP4HbyklO2Puv0e1Am8T">Drummer Boy</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/1lq31ZbKSc9MSFQXAVFt6Y">Christmas Eve</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/4io2VXWG4fmIpsjKXWALzB">All I Want Is You</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/1lUYap3IVPOLZTAq8828F6">Home This Christmas</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/2IBrLjMW54GQsit7s2GJaY">Silent Night</a></li>
    </ol>
</div>
