
@{
    ViewBag.Title = "chr2";
}

<h2>chr2</h2>

<div class="pics">
    Artist 1:
    <a href="/Christmas/chr2artist">
        <div><img class="artistpic" src="https://www.officialcharts.com/media/657326/mariah-carey-christmas.jpg?width=796&mode=stretch" /></div>
    </a>
</div>
<div class="pics">
    Artist 2:
    <a href="/Christmas/chr2artist">
        <div><img class="artistpic" src="https://i.pinimg.com/736x/66/4b/42/664b42de967cd4f0624a5a2a9f11d6d4.jpg"" /></div>
    </a>
</div>