
@{
    ViewBag.Title = "chr2artist";
}

<div id="artistinfo">
    <h2>Mariah Carey</h2>
    <img class="artistpic" src="https://www.officialcharts.com/media/657326/mariah-carey-christmas.jpg?width=796&mode=stretch" />

    <h4>Album Name: <span id="albumtitle"><a target="_blank" href="https://open.spotify.com/album/61ulfFSmmxMhc2wCdmdMkN">Merry Christmas</a></span></h4>
    <ol>
        <li><a target="_blank" href="https://open.spotify.com/track/1sFWEpf1aPYN576LS1aa4Y">Silent Night</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/0bYg9bo50gSsH3LtXe2SQn">All I Want for Christmas Is You</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/3B7FO3kJ5kv3mX7yiaB7sT">Holy Night</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/3PIDciSFdrQxSQSihim3hN">Christmas</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/1uQRAiaDstq15Vd52ryoI7">Miss You Most</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/2OggiWqL8exckT6kOrcDuA">Joy to the World</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/6AoXseJVabZFmKEYjQCXPS">Jesus Born on This Day</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/1f2lkuLldqRzvaFjJdjGXX">Santa Claus Is Comin' to Town</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/74VQqRHWXDUyErPqwdeG5D">Hark! The Herald Angels Sing / Gloria</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/7zAoR3Od28Xj97fTLgnaGi">Jesus Oh What a Wonderful Child</a></li>
    </ol>
</div>


