
@{
    ViewBag.Title = "chr3";
}

<h2>chr3</h2>

<div class="pics">
    Artist 1:
    <a href="/Christmas/chr3artist">
        <div><img class="artistpic" src="https://images-na.ssl-images-amazon.com/images/I/51kYXG8G7pL._SX355_.jpg" /></div>
    </a>
</div>
<div class="pics">
    Artist 2:
    <a href="/Christmas/chr3artist">
        <div><img class="artistpic" src="https://images-na.ssl-images-amazon.com/images/I/51BCYyD2vgL._SY355_.jpg" /></div>
    </a>
</div>