
@{
    ViewBag.Title = "chr3artist";
}

<div id="artistinfo">
    <h2>Nat King Cole</h2>
    <img class="artistpic" src="https://images-na.ssl-images-amazon.com/images/I/51BCYyD2vgL._SY355_.jpg" />

    <h4>Album Name: <span id="albumtitle"><a target="_blank" href="https://open.spotify.com/album/6vBGI5522jvPi0ZZuGQNp4">The Christmas Song</a></span></h4>
    <ol>
        <li><a target="_blank" href="https://open.spotify.com/track/2iHZGKoFez1eq2eQJ1GEx1">A Cradle in Bethlehem</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/5BP07D2BN5mYxm4OU6Ra8B">Adeste Fideles</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/22hVlcdlfqmtOuEih4hZcH">Away In Manger</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/11Z7sdkpC5IaaydoIvDn74">Caroling, Caroling</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/0rHToGels2lt8Y0mCYoF90">Deck The Hall</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/0pb6pMWNDNH3vJHif1KE2t">God Rest Ye Mary, Gentleman</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/25UQbFhWRAEIoVMioTNizr">Hark, The Herald Angels</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/5y3JAm9YCJw6UaeuSHC737">I Saw Three Ships</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/1VuAamHM7P3VQQEXYGG3Uu">Joy To The World</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/4c4LylLvTh91IhwQgSXPRc">O Holy Night</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/07grjb29wSIEwP4xKtZUjH">O Little Town Of Bethlehem</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/0aJcR4COHLndzrJya4nBBc">O Tannenbaum</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/4iTfml41SOUBHXgMUHLUVV">Silent Night</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/0AJLfHOxYECZsMsMZ5XZGu">The First Noel</a></li>

    </ol>
</div>


