
@{
    ViewBag.Title = "chr4";
}

<h2>chr4</h2>

<div class="pics">
    Artist 1:
    <a href="/Christmas/chr4artist">
        <div><img class="artistpic" src="https://external-preview.redd.it/kluaQGqTQRUBxDYdND7ltiOSbCJ4R5QEI2ZRrMx_oB4.jpg?auto=webp&s=4188329cf18ac4dc2306327c4e85a56a12d15a7c" /></div>
    </a>
</div>
<div class="pics">
    Artist 2:
    <a href="/Christmas/chr4artist">
        <div><img class="artistpic" src="http://pm1.narvii.com/6321/c9d5b9b5394f53331b38743629f934dab4f1f40d_00.jpg" /></div>
    </a>
</div>