
@{
    ViewBag.Title = "chr4artist";
}

<div id="artistinfo">
    <h2>Blink 182</h2>
    <img class="artistpic" src="https://external-preview.redd.it/kluaQGqTQRUBxDYdND7ltiOSbCJ4R5QEI2ZRrMx_oB4.jpg?auto=webp&s=4188329cf18ac4dc2306327c4e85a56a12d15a7c" />

    <h4>Album Name: <span id="albumtitle"><a target="_blank" href="https://open.spotify.com/album/6aXNm9ZaI6eKoRvaVBwU9j">I Won't Be Home For Christmas</a></span></h4>
    <ol>
        <li><a target="_blank" href="https://open.spotify.com/track/41olw7iIGVyds8dnSR9pb0">I Won't Be Home For Christmas</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/2SzhNi1sjvIz29scIuBCb3">All The Small Things</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/3MXrqIiznDF8nkC9bd7m6l">Josie</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/5cgIkZcZrxDdtWbbQ3L5iB">Please Take Me Home</a></li>

    </ol>
</div>

