
@{
    ViewBag.Title = "chr5";
}

<h2>chr5</h2>

<div class="pics">
    Artist 1:
    <a href="/Christmas/chr5artist">
        <div><img class="artistpic" src="https://media.swncdn.com/cms/RT/71762-kanye-west-getty-images-dimitrios-kambouris-s.1200w.tn.jpg" /></div>
    </a>
</div>
<div class="pics">
    Artist 2:
    <a href="/Christmas/chr5artist">
        <div><img class="artistpic" src="https://www.philharmonia.co.uk/assets/images/galleries/271/orchestralead.jpg?width=1176&height=664&&credit=" /></div>
    </a>
</div>