
@{
    ViewBag.Title = "chr5artist";
}

<div id="artistinfo">
    <h2>Kanye West</h2>
    <img class="artistpic" src="https://media.swncdn.com/cms/RT/71762-kanye-west-getty-images-dimitrios-kambouris-s.1200w.tn.jpg" />

    <h4>Album Name: <span id="albumtitle"><a target="_blank" href="https://open.spotify.com/album/0FgZKfoU2Br5sHOfvZKTI9">Jesus Is King</a></span></h4>
    <ol>
        <li><a target="_blank" href="https://open.spotify.com/track/1WnqWQcWcuQbVzgE7ecfCY">Every Hour</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/39JRmdKFka1Oe09FoOCPI4">Selah</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/2QpGZOhTCHHiKmpSO9FW4h">Follow God</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/3JWiDGQX2eTlFvKj3Yssj3">Closed On Sunday</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/2SasoXZyv82yYgHiVOvxQn">On God</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/24bnCCysWnbNRNUT4LpHcP">Everything We Need</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/454Epa1vrCGFddHXKyC1kb">Water</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/6xRWoYwfwIKnT8bQGzKbxR">God Is</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/7r6aR2f57resC5r93LwMfK">Hands On</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/0oPOuDmmkVp3h6puekhs6P">Use This Gospel</a></li>
        <li><a target="_blank" href="https://open.spotify.com/track/7sBgFMWqDWQgrsNSpIBoe8">Jesus Is Lord</a></li>
    </ol>
</div>
