@{
    ViewBag.Title = "More Information";
}
<h2>More information</h2>

<div>
    <h4>About SpotYourMood</h4>
    <p>This is where we will talk more about the purpose of the app.</p>
    <p>This is wehre we will talk about how to use the app.</p>
</div>

<div>
    <h4>Feeling some new type of way?</h4>
    <form>
        Genre: <input type="text" name="genre" /> 
        Mood: <input type="text" name="mood" /><br />
    </form>
</div>

<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>