@{
    ViewBag.Title = "Home Page";
}
    <h1>Welcome to <span id="appname">SpotYourMood</span>!</h1>

    <h3>Description about the basics of the app. We will include the goal of the application, along with a quick tutorial/how-to work it.</h3>

    <div id="christmas">
        <h2>Christmas</h2>
        <a href="/Christmas/chr1">
            <div class="card">
                <div><img src="https://www.elitereaders.com/wp-content/uploads/2015/12/sad-christmas-songs.jpg" /></div>
            </div>
        </a>
        <a href="/Christmas/chr2">
            <div class="card">
                <div><img src="https://thenypost.files.wordpress.com/2017/12/music_miley1a.jpg?quality=90&strip=all&strip=all" /></div>
            </div>
        </a>
        <a href="/Christmas/chr3">
            <div class="card">
                <div><img src="https://static01.nyt.com/images/2016/12/23/watching/christmas-movies-watching-slide-U29V/christmas-movies-watching-slide-U29V-videoSixteenByNineJumbo1600-v8.jpg" /></div>
            </div>
        </a>
        <a href="/Christmas/chr4">
            <div class="card">
                <div><img src="https://images.8tracks.com/cover/i/000/109/615/the-grinch-27-1149.jpg?rect=0,39,499,499&q=98&fm=jpg&fit=max" /></div>
            </div>
        </a>
        <a href="/Christmas/chr5">
            <div class="card">
                <div><img src="https://bloximages.newyork1.vip.townnews.com/laloyolan.com/content/tncms/assets/v3/editorial/0/fd/0fd600d5-fd2e-5038-b6fc-828cfa477ede/5668d9afe8350.image.png?resize=400%2C254" /></div>
            </div>

        </a>
    </div>

